<ion-header>
    <ion-navbar>
        <ion-title>
            Assignments
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="assignments">
    <ion-card id="assignments-card1">
        <ion-list>
            <ion-item color="none" id="assignments-list-item70">
                Title
            </ion-item>
            <ion-item id="assignments-list-item-container16">
                <div id="assignments-markdown25" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;">
                        <strong>
                www.link.com/assignment#1
              </strong>
                    </p>
                </div>
            </ion-item>
            <ion-item color="positive" id="assignments-list-item71">
                <ion-icon name="open" item-left></ion-icon>
                Open
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>