<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'ASSIGNMENTS' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding id="assignments">
    <div *ngIf='coursesdata'>
        <ion-card *ngFor="let tasks of coursesemesterdata">
            <ion-list>
                <ion-item color="none">
                    {{tasks.type}}
                </ion-item>
                <ion-item>
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            <strong>
                            <a href="{{tasks.path}}" target="_blank">{{tasks.path}}</a>
                            </strong>
                        </p>
                    </div>
                </ion-item>
                <ion-item color="positive">
                    <ion-icon name="open" slot="start"></ion-icon>
                    {{ 'OPEN' | translate}}
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
</ion-content>