<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'ASSIGNMENTS' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="assignments">
    <ion-list>
        <ion-item *ngIf="coursesdata">
            <h1>{{coursesdata.courseName}}</h1>
        </ion-item>
        <ion-item *ngIf="coursesemesterdata">
            <h2> {{coursesemesterdata.semester_time}} </h2>
        </ion-item>
    </ion-list>
    <div *ngIf='coursesdata'>
        <ion-card *ngFor="let tasks of coursesemesterdata">
            <ion-list>
                <ion-item color="none">
                    {{tasks.type}}
                </ion-item>
                <ion-item>
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            <strong>
                            <a href="{{tasks.path}}" target="_blank">{{tasks.path}}</a>
                            </strong>
                        </p>
                    </div>
                </ion-item>
                <ion-item color="positive">
                    <ion-icon name="open" slot="start"></ion-icon>
                    {{ 'OPEN' | translate}}
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
    <ion-row>
        <ion-col size="6">
            <ion-button id="assignments-addTaskBtn" type="submit" expand="block" *ngIf="isTeacher" [routerLink]="['/course/semester/add-task']" class="ionBtn ionBtn-success" value="addTask">
                <ion-icon name="add" slot="start"></ion-icon>
                {{ 'ADDTASK' | translate }}
            </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button id="assignments-deleteTaskBtn" type="submit" expand="block" **ngIf="isTeacher" [routerLink]="['/course/semester/delete-task']" class="ionBtn ionBtn-success" value="deleteTask">
                <ion-icon name="trash" slot="start"></ion-icon>
                {{ 'DELETETASK' | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>