<ion-header>
    <ion-navbar>
        <ion-title>
            Add Assignments
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="add-assignment">
    <form id="addAssignments-form">
        <ion-item id="addAssignments-title">
            <ion-label>
                Title
            </ion-label>
            <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <div class="spacer"></div>
        <ion-item id="addAssignments-link">
            <ion-label>
                Link
            </ion-label>
            <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
    </form>
    <ion-button id="addAssignments-addAssignmentBtn" ion-button outline color="balanced" block icon-left>
        <ion-icon name="create"></ion-icon>
        Add Assignment
    </ion-button>
</ion-content>