<ion-header>
    <ion-navbar>
        <ion-title>
            Attendance
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="attendMe">
    <ion-list id="attendance-wifi">
        <ion-item color="dark" id="attendance-wifi-status">
            <ion-icon name="wifi" item-left></ion-icon>
            Wifi Connected
        </ion-item>
    </ion-list>
    <ion-card id="attendance-card">
        <ion-list>
            <div class="spacer"></div>
            <ion-item color="none" id="attendance-card-course">
                Database System 1
            </ion-item>
            <ion-item id="attendance-card-courseCode">
                <div class="show-list-numbers-and-dots">
                    <p>
                        Course Code:
                        <strong>123</strong>
                    </p>
                </div>
            </ion-item>
            <ion-item id="attendance-card-week">
                <div class="show-list-numbers-and-dots">
                    <p>
                        Week:
                        <strong>12</strong>
                    </p>
                </div>
            </ion-item>
            <ion-item id="attendance-card-time">
                <div class="show-list-numbers-and-dots">
                    <p>
                        Time:
                        <strong>09:30:50 AM</strong>
                    </p>
                </div>
            </ion-item>
            <ion-item id="attendance-card-date">
                <div class="show-list-numbers-and-dots">
                    <p>
                        Date:
                        <strong>12/02/2020</strong>
                    </p>
                </div>
            </ion-item>
            <ion-item id="attendance-card-hall">
                <div class="show-list-numbers-and-dots">
                    <p>
                        Hall:
                        <strong>7</strong>
                    </p>
                </div>
            </ion-item>
            <ion-item color="balanced" id="attendance-attendMe">
                <ion-icon name="checkbox-outline" item-left></ion-icon>
                Attend Me
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>