<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'STUDENTGRADES' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="student-grade">
    <!-- <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <thead>
                <tr *ngIf="coursedata">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col" *ngFor="let grades of coursedata">{{grades.type}}({{grades.grade}})</th>
                    <th scope="col" *ngIf="courseTotalGrades">Total({{courseTotalGrades.totalGrades}})</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userdata of usertotalgradestotal;index as i;">
                    <th scope="row">{{userdata.user._id}}</th>
                    <td>{{userdata.user.name}}</td>
                    <td *ngFor="let fdata of things[i]">{{fdata}}</td>
                    <th scope="row">{{userdata.totalGrades.totalGrades}}</th>
                </tr>
            </tbody>
    </table> -->
    <ion-list class="ion-padding">
        <table id="table_id" class="table table-hover table-light display">
            <thead>
                <tr *ngIf="coursedata">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col" *ngFor="let grades of coursedata">{{grades.type}}({{grades.grade}})</th>
                    <th scope="col" *ngIf="courseTotalGrades">Total({{courseTotalGrades.totalGrades}})
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userdata of usertotalgradestotal;index as i;">
                    <th scope="row">{{userdata.user._id}}</th>
                    <td>{{userdata.user.name}}</td>
                    <td *ngFor="let fdata of things[i]">{{fdata}}</td>
                    <th>{{userdata.totalGrades.totalGrades}}</th>
                    <tr *ngIf="coursedata">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col" *ngFor="let grades of coursedata">{{grades.type}}({{grades.grade}})</th>
                        <th scope="col" *ngIf="courseTotalGrades">Total({{courseTotalGrades.totalGrades}})
                        </th>
                    </tr>
                </tr>
            </tbody>
        </table>
    </ion-list>

    <div *ngIf="courseSemesterDataCode">
        <ion-row>
            <ion-col size="6">
                <ion-button id="student-grade-addGRADEBtn" type="submit" expand="block" *ngIf="courseDataCode" [routerLink]="['/course/semester/add-student-grade']" class="ionBtn ionBtn-success" value="AddGrade">
                    <ion-icon name="add" slot="start"></ion-icon>
                    {{ 'ADDGRADE' | translate }}
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button id="courses-manageCourseBtn" type="submit" expand="block" *ngIf="courseDataCode" [routerLink]="['/course/semester/update-student-grade']" class="ionBtn ionBtn-update" value="UpdateGrade">
                    <ion-icon name="create-outline" slot="start"></ion-icon>
                    {{ 'UPDATEGRADE' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>