<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'ADDNEWTASK' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="add-task">
    <form id="addTask-form" [formGroup]="validations_form" (ngSubmit)="AddTask(taskType,taskPath)">
        <ion-list>
            <ion-item id="addTask-title">
                <ion-label>
                    {{ 'TITLE' | translate}} #
                </ion-label>
            </ion-item>
            <ion-item id="addTask-titleInput">
                <ion-input type="text" formControlName="title" placeholder="Enter Task Title" #taskType required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.title">
                    <div class="error-message" *ngIf="validations_form.get('title').hasError(validation.type) && (validations_form.get('title').dirty || validations_form.get('title').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item id="addTask-link">
                <ion-label>
                    {{ 'LINK' | translate}}
                </ion-label>
            </ion-item>
            <ion-item id="addTask-linkInput">
                <ion-input type="text" formControlName="link" placeholder="Enter Task Link" #taskPath required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.link">
                    <div class="error-message" *ngIf="validations_form.get('link').hasError(validation.type) && (validations_form.get('link').dirty || validations_form.get('link').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        </ion-list>
        <ion-button id="addTask-addNewTaskBtn" type="submit" expand="block" [disabled]="!validations_form.valid" class="ionBtn ionBtn-success" value="AddNewTask">
            <ion-icon name="add" slot="start"></ion-icon>
            {{ 'ADDNEWTASK' | translate }}
        </ion-button>
    </form>
</ion-content>