<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'ADDCOURSE' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding id="add-course">
    <form id="addCourse-form" [formGroup]="validations_form" (ngSubmit)="addCourse(courseCode,courseName, creaditHours, prerequisite)">
        <ion-list id="addCourse-info">
            <ion-item id="addCourse-courseCode">
                <ion-label>
                    {{ 'COURSECODE' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addCourse-courseCodeInput">
                <ion-input type="text" formControlName="courseCode" maxlength="5" placeholder="Enter Course Code" #courseCode required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.courseCode">
                    <div class="error-message" *ngIf="validations_form.get('courseCode').hasError(validation.type) && (validations_form.get('courseCode').dirty || validations_form.get('courseCode').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item id="addCourse-name">
                <ion-label>
                    {{ 'NAME' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addCourse-nameInput">
                <ion-input type="text" formControlName="name" #courseName placeholder="Enter Course Name" required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item id="addCourse-department">
                <ion-label>
                    {{ 'DEPARTMENT' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addCourse-departmentInput">
                <ion-select [(ngModel)]="department" [ngModelOptions]="{standalone: true}" formControlName="department" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTDEPARTMENT' | translate }}" id='department' (ionChange)="onSelectChange($event)"
                    #courseDepartment aria-required="required">
                    <ion-select-option value="General">{{ 'GENERAL' | translate }}</ion-select-option>
                    <ion-select-option value="Information Systems">{{ 'INFORMATIONSYSTEMS' | translate }}</ion-select-option>
                    <ion-select-option value="Computer Science">{{ 'COMPUTERSCIENCE' | translate }}</ion-select-option>
                    <ion-select-option value="Internet Technology">{{ 'INTERNETTECHNOLOGY' | translate }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item id="addCourse-creditHours">
                <ion-label>
                    {{ 'CREDITHOURS' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addCourse-creditHoursInput">
                <ion-input type="number" min="0" max="140" formControlName="creditHours" placeholder="Enter Course's Credit Horurs" #creaditHours required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.creditHours">
                    <div class="error-message" *ngIf="validations_form.get('creditHours').hasError(validation.type) && (validations_form.get('creditHours').dirty || validations_form.get('creditHours').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item id="addCourse-prerequisite">
                <ion-label>
                    {{ 'PREREQUISITE' | translate }}
                </ion-label>
            </ion-item>
            <ion-item id="addCourse-prerequisiteInput">
                <ion-input type="text" formControlName="prerequisite" placeholder="Enter The Prequisite Course Of Your Course" #prerequisite required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.prerequisite">
                    <div class="error-message" *ngIf="validations_form.get('prerequisite').hasError(validation.type) && (validations_form.get('prerequisite').dirty || validations_form.get('prerequisite').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        </ion-list>
        <ion-button id="addCourse-addCourseBtn" type="submit" expand="block" [disabled]="!validations_form.valid" class="ionBtn ionBtn-success" value="AddCourse">
            <ion-icon name="add" slot="start"></ion-icon>
            {{ 'ADDCOURSE' | translate }}
        </ion-button>

        <!-- <div id="responsediv">
            <div class="alert alert-primary d-none" role="alert" id="response"></div>
            <div class="alert alert-danger d-none" role="alert" id="error"></div>
        </div> -->

    </form>

</ion-content>