<ion-header>
    <ion-navbar>
        <ion-title>
            course-single
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="course-single">
    <ion-list id="course-single-info">
        <ion-item id="course-single-info-courseCode">
            <ion-label>
                <p>Course Code</p>
                <h2>CS125</h2>
            </ion-label>
        </ion-item>
        <ion-item id="course-single-info-department">
            <ion-label>
                <p>Department</p>
                <h2>General</h2>
            </ion-label>
        </ion-item>
        <ion-item id="course-single-info-academicLevel">
            <ion-label>
                <p>Academic Level</p>
                <h2>3</h2>
            </ion-label>
        </ion-item>
        <ion-item id="course-single-info-creditHours">
            <ion-label>
                <p>Credit Hours</p>
                <h2>3</h2>
            </ion-label>
        </ion-item>
        <ion-item id="course-single-info-professor">
            <ion-label>
                <p>Professor</p>
                <h2>Marwa Salah</h2>
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="spacer" id="course-single-functions"></div>
    <ion-button id="course-single-attendance" outline color="dark" block icon-right>
        Attendance
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button id="course-single-assignments" outline color="dark" block icon-right>
        Assignments
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button id="course-single-grades" outline color="dark" block icon-right>
        Grades
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
</ion-content>