<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'DELETECOURSEGRADE' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content pdeleteing id="delete-course-grade">
    <form id="deleteCourseGrade-form" [formGroup]="validations_form" (ngSubmit)="deleteCourseGrade()">
        <div *ngIf="coursedata">
            <ion-list id="deleteCourseGrade-info">
                <ion-item id="deleteCourseGrade-type">
                    <ion-label>
                        {{ 'GRADETYPE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="grade" [ngModelOptions]="{standalone: true}" formControlName="gradetype" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTGRADETYPE' | translate }}" id='gradeType' (ionChange)="onSelectChange($event)"
                        #gradeType aria-required="required">
                        <ion-select-option *ngFor="let grade of coursaSemesterGrades.grades">{{grade.type}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </div>
        <ion-button id="deleteCourseGrade-deleteCourseGradeBtn" type="submit" expand="block" [disabled]="!validations_form.valid" class="ionBtn ionBtn-danger" value="deleteCourseGrade">
            <ion-icon name="trash" slot="start"></ion-icon>
            {{ 'DELETECOURSEGRADE' | translate }}
        </ion-button>

        <!-- <div>
            <div class="alert alert-primary" role="alert" *ngIf="response">
                {{response.msg}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error.msg}}
            </div>
        </div>
        <div id="responsediv">
            <div class="alert alert-primary d-none" role="alert" id="response"></div>
            <div class="alert alert-danger d-none" role="alert" id="error"></div>
        </div> -->

    </form>

</ion-content>