#user-profile-id {
    color: #fff;
    text-align: center;
}

#user-profile-info h2 {
    color: #bbb;
}

#user-profile-info-courses h2 {
    display: inline-block;
    margin-right: 10px;
}

.avatar {
    display: block;
    width: 200px;
    height: auto;
    margin: 25px auto;
}