<ion-header>
    <ion-navbar>
        <ion-title>
            Courses
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="courses">
    <ion-card id="courses-card">
        <ion-list>
            <ion-item color="none" id="courses-list-item28">
                Database Systems 1
            </ion-item>
            <ion-item id="courses-list-item1">
                <div id="courses-markdown" class="show-list-numbers-and-dots">
                    <p>
                        Course Code:
                        <strong>
                IS211
              </strong>
                    </p>
                </div>
            </ion-item>
            <ion-item color="positive" id="courses-list-open">
                <ion-icon name="open" item-left></ion-icon>
                Open
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>